@import url(screen.base.css);

#header h1 a {
width: 350px;
height: 70px;
display: block;
background: url(images/logo.png) no-repeat;
}

#header h1 a span {
display: none;
}

body#main h3 {
font-size: 300%;
margin-bottom: 0.2em;
}

body#main h4 {
font-weight: lighter;
text-transform: none;
}
